/* *{
    padding: 0%;
    margin: 0%;
   
}
.collapse navbar-collapse{
    align-items: center;
}
.nav-link{
    color: white;
}
/* .container-fluid{
    height: 30px;
    padding: 5px;
    margin: 10px;
} */ */